*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: olivedrab;
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: olivedrab;
    padding: 10px;
}

.carrito{
    display: inline-block;
    font-size: 40px;

}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.cajas{
display: flex;
flex-direction: column;
justify-content:center;
width:370px;
border: 1px solid lightgray;
box-shadow: 2px 2px 8px 4px #d3d3d3d1;
border-radius:15px;
} 

.nombre{
font-size: 24px;
text-align: center;
padding: 10px 10px 0 10px;;
background-color: olive;
}

.precio{
    background-color: olive;
    font-size: 20px;
    text-align: center;
}

.imagen{
    width: 30px;
    height: 30px;
}

.buton-online{
background: black;
font-size: 20px;
color: aliceblue;
border-radius:0 0 15px 15px;
padding: 10px;
text-align:center;

}

.inputSearch{
    display: flex;
    align-items: center;
    align-self: center;
    width: 50%;
    min-width: 300px;
    text-align: center;
    padding: 10px;
    gap: 5px;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
}

